spring:
  application:
    name: api_prod

    datasource:
      url: jdbc:mysql://localhost:3306/productos
      username: root
      password: root
      driver-class-name: com.mysql.cj.jdbc.Driver

      jpa:
        open-in-view: false
        hibernate:
          ddl-auto: update
        show-sql: true
        properties:
          hibernate:
            dialect: org.hibernate.dialect.MySQLDialect
